.header {
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
